<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Projetos: Exibindo</a>
  </div>
 

 <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
    	<li><%= link_to 'Cancelar', projects_path %></li>
    </ul>
  </div>
</nav>

<div class="container">
	
	<div class="panel panel-default">
	  <div class="panel-heading">	
		<h3 class="panel-title">Nome</h3>
	  </div>
	  <div class="panel-body">
		<p><%= @project.name %></p>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">	
		<h3 class="panel-title">Data de Início</h3>
	  </div>
	  <div class="panel-body">
		<p><%= @project.start_date %></p>
	  </div>
	</div>


	<div class="panel panel-default">
	  <div class="panel-heading">	
		<h3 class="panel-title">Data de Término</h3>
	  </div>
	  <div class="panel-body">
		<p><%= @project.end_date %></p>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">	
		<h3 class="panel-title">Tamanho total</h3>
	  </div>
	  <div class="panel-body">
		<p><%= @project.size %></p>
	  </div>
	</div>

</div>