<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Lugares</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Novo', new_local_path %></li>
    </ul>
  </div>
</nav>

<table class="table table-hover table-bordered">
	<thread>
	<tr>
		<th>Nome</th>
		<th>Pais</th>
		<th>Estado</th>
		<th>Cidade</th>
		<th>ZipCode</th>
	</tr>
	</thread>
	<tbody>
	<% @places.each do |local| %>
		<tr>
			<td><%= local.name %></td>
			<td><%= local.country %></td>
			<td><%= local.state %></td>
			<td><%= local.city %></td>
			<td><%= local.zipcode %></td>
			<td>
				<%= link_to edit_local_path(local.id), title: 'Editar' do  %>
          				<span class="glyphicon glyphicon-pencil"></span>
        		<% end %>
        		<%= link_to show_local_path(local.id), title: 'Exibir' do  %>
          				<span class="glyphicon glyphicon-eye-open"></span>
        		<% end %>
        		<%= link_to destroy_local_path(local.id), title: 'Excluir' do %>
          				<span class="glyphicon glyphicon-trash"></span>
        		<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
